<h3> I Asked This SQL Interview Question in an Amazon Interview | Most Asked SQL Problem with a Twist <\h3>

In [0]:
%sql
CREATE TABLE emp(
 emp_id int ,
 emp_name varchar(50) ,
 salary int ,
 manager_id int ,
 emp_age int ,
 dep_id int ,
 dep_name varchar(20) ,
 gender varchar(10) 
) ;
insert into emp values(1,'Ankit',14300,4,39,100,'Analytics','Female');
insert into emp values(2,'Mohit',14000,5,48,200,'IT','Male');
insert into emp values(3,'Vikas',12100,4,37,100,'Analytics','Female');
insert into emp values(4,'Rohit',7260,2,16,100,'Analytics','Female');
insert into emp values(5,'Mudit',15000,6,55,200,'IT','Male');
insert into emp values(6,'Agam',15600,2,14,200,'IT','Male');
insert into emp values(7,'Sanjay',12000,2,13,200,'IT','Male');
insert into emp values(8,'Ashish',7200,2,12,200,'IT','Male');
insert into emp values(9,'Mukesh',7000,6,51,300,'HR','Male');
insert into emp values(10,'Rakesh',8000,6,50,300,'HR','Male');
insert into emp values(11,'Akhil',4000,1,31,500,'Ops','Male');

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
select * from emp

emp_id,emp_name,salary,manager_id,emp_age,dep_id,dep_name,gender
4,Rohit,7260,2,16,100,Analytics,Female
3,Vikas,12100,4,37,100,Analytics,Female
1,Ankit,14300,4,39,100,Analytics,Female
8,Ashish,7200,2,12,200,IT,Male
10,Rakesh,8000,6,50,300,HR,Male
11,Akhil,4000,1,31,500,Ops,Male
7,Sanjay,12000,2,13,200,IT,Male
9,Mukesh,7000,6,51,300,HR,Male
2,Mohit,14000,5,48,200,IT,Male
5,Mudit,15000,6,55,200,IT,Male
6,Agam,15600,2,14,200,IT,Male

In [0]:
%sql
SELECT emp_id,emp_name,salary,manager_id,emp_age,dep_id,dep_name,gender from (
SELECT *,rank()over(PARTITION BY dep_id ORDER BY salary)rnk,count(1)over( PARTITION BY dep_id )cnt from emp)a
where rnk=3 or (rnk<3 and rnk=cnt)

emp_id,emp_name,salary,manager_id,emp_age,dep_id,dep_name,gender
1,Ankit,14300,4,39,100,Analytics,Female
2,Mohit,14000,5,48,200,IT,Male
10,Rakesh,8000,6,50,300,HR,Male
11,Akhil,4000,1,31,500,Ops,Male

<h3> solution in pyspark <\h3>

In [0]:
from pyspark.sql.functions import col,count,rank,when,sum,lit
from pyspark.sql.window import Window

In [0]:
df_e=spark.sql("select * from emp")
df_e.show()

+------+--------+------+----------+-------+------+---------+------+
|emp_id|emp_name|salary|manager_id|emp_age|dep_id| dep_name|gender|
+------+--------+------+----------+-------+------+---------+------+
|     4|   Rohit|  7260|         2|     16|   100|Analytics|Female|
|     3|   Vikas| 12100|         4|     37|   100|Analytics|Female|
|     1|   Ankit| 14300|         4|     39|   100|Analytics|Female|
|     8|  Ashish|  7200|         2|     12|   200|       IT|  Male|
|    10|  Rakesh|  8000|         6|     50|   300|       HR|  Male|
|    11|   Akhil|  4000|         1|     31|   500|      Ops|  Male|
|     7|  Sanjay| 12000|         2|     13|   200|       IT|  Male|
|     9|  Mukesh|  7000|         6|     51|   300|       HR|  Male|
|     2|   Mohit| 14000|         5|     48|   200|       IT|  Male|
|     5|   Mudit| 15000|         6|     55|   200|       IT|  Male|
|     6|    Agam| 15600|         2|     14|   200|       IT|  Male|
+------+--------+------+----------+-------+------+---------+------+

In [0]:
df_e.withColumn("rnk",rank().over(Window.partitionBy("dep_id").orderBy("salary"))).\
    withColumn("cnt",count(lit(1)).over(Window.partitionBy("dep_id"))).\
        filter((col("rnk")==3)|((col("rnk")<3)&(col("rnk")==col("cnt")))).\
            select("emp_id","emp_name","salary","manager_id","emp_age","dep_id","dep_name","gender").show()

+------+--------+------+----------+-------+------+---------+------+
|emp_id|emp_name|salary|manager_id|emp_age|dep_id| dep_name|gender|
+------+--------+------+----------+-------+------+---------+------+
|     1|   Ankit| 14300|         4|     39|   100|Analytics|Female|
|     2|   Mohit| 14000|         5|     48|   200|       IT|  Male|
|    10|  Rakesh|  8000|         6|     50|   300|       HR|  Male|
|    11|   Akhil|  4000|         1|     31|   500|      Ops|  Male|
+------+--------+------+----------+-------+------+---------+------+