<h3> LeetCode Hard SQL problem | Students Reports By Geography | Pivot Ka Baap <\h3>

In [0]:
%sql
create table players_location
(
name varchar(20),
city varchar(20)
);
delete from players_location;
insert into players_location
values ('Sachin','Mumbai'),('Virat','Delhi') , ('Rahul','Bangalore'),('Rohit','Mumbai'),('Mayank','Bangalore');

num_affected_rows,num_inserted_rows
5,5

In [0]:
%sql
select * from players_location

name,city
Sachin,Mumbai
Virat,Delhi
Rahul,Bangalore
Rohit,Mumbai
Mayank,Bangalore

In [0]:
%sql
select max(case when city='Bangalore' then name else null end) Bangalore,
max(case when city='Mumbai' then name else null end) Mumbai,
max(case when city='Delhi' then name else null end) Delhi from (
select *,row_number()over(partition by city order by name) rn from players_location)a1
group by rn

Bangalore,Mumbai,Delhi
Mayank,Rohit,Virat
Rahul,Sachin,null

<h3> solution in pyspark <\h3>

In [0]:
from pyspark.sql.functions import col,max,min,row_number,when
from pyspark.sql.window import Window

In [0]:
df_p=spark.sql("select * from players_location")
df_p.show()

+------+---------+
|  name|     city|
+------+---------+
|Sachin|   Mumbai|
| Virat|    Delhi|
| Rahul|Bangalore|
| Rohit|   Mumbai|
|Mayank|Bangalore|
+------+---------+

In [0]:
df_p.withColumn("rn",row_number().over(Window.partitionBy("city").orderBy("name"))).groupBy("rn").\
    agg(max(when(col("city")=='Bangalore',col("name"))).alias("Bangalore"),\
        max(when(col("city")=='Mumbai',col("name"))).alias("Mumbai"),\
            max(when(col("city")=='Delhi',col("name"))).alias("Delhi")).select("Bangalore","Mumbai","Delhi").show()

+---------+------+-----+
|Bangalore|Mumbai|Delhi|
+---------+------+-----+
|   Mayank| Rohit|Virat|
|    Rahul|Sachin| null|
+---------+------+-----+