<h3> Deadly Combination of Group By and Having Clause in SQL | SQL Interview Questions and Answers </h3>

In [0]:
%sql
create table exams (student_id int, subject varchar(20), marks int);
delete from exams;
insert into exams values (1,'Chemistry',91),(1,'Physics',91)
,(2,'Chemistry',80),(2,'Physics',90)
,(3,'Chemistry',80)
,(4,'Chemistry',71),(4,'Physics',54);

num_affected_rows,num_inserted_rows
7,7

In [0]:
%sql
select * from exams

student_id,subject,marks
1,Chemistry,91
1,Physics,91
2,Chemistry,80
2,Physics,90
3,Chemistry,80
4,Chemistry,71
4,Physics,54

In [0]:
%sql
select student_id from exams where subject in('Chemistry','Physics')
group by student_id
having count(distinct subject)=2 and count(distinct marks)=1

student_id
1

<h3> solution in pyspark <\h3>

In [0]:
from pyspark.sql.functions import col,countDistinct

In [0]:
df_e=spark.sql("select * from exams")
df_e.show()

+----------+---------+-----+
|student_id|  subject|marks|
+----------+---------+-----+
|         1|Chemistry|   91|
|         1|  Physics|   91|
|         2|Chemistry|   80|
|         2|  Physics|   90|
|         3|Chemistry|   80|
|         4|Chemistry|   71|
|         4|  Physics|   54|
+----------+---------+-----+

In [0]:
df=df_e.filter(col("subject").isin("Chemistry","Physics"))
df.groupBy("student_id").agg(countDistinct("subject").alias("dis_subjects"),countDistinct("marks").alias("dis_marks")).\
    filter((col("dis_subjects")==2)&(col("dis_marks")==1)).select("student_id").show()

+----------+
|student_id|
+----------+
|         1|
+----------+