<h3> Brilliant SQL Interview Question | Solve it without using CTE, Sub Query, Window functions <\h3>

In [0]:
%sql
CREATE TABLE int_orders(
 order_number int NOT NULL,
 order_date date NOT NULL,
 cust_id int NOT NULL,
 salesperson_id int NOT NULL,
 amount float NOT NULL
);

INSERT INTO int_orders (order_number, order_date, cust_id, salesperson_id, amount) VALUES (30, CAST('1995-07-14' AS Date), 9, 1, 460);

INSERT into int_orders (order_number, order_date, cust_id, salesperson_id, amount) VALUES (10, CAST('1996-08-02' AS Date), 4, 2, 540);

INSERT INTO int_orders (order_number, order_date, cust_id, salesperson_id, amount) VALUES (40, CAST('1998-01-29' AS Date), 7, 2, 2400);

INSERT INTO int_orders (order_number, order_date, cust_id, salesperson_id, amount) VALUES (50, CAST('1998-02-03' AS Date), 6, 7, 600);

INSERT into int_orders (order_number, order_date, cust_id, salesperson_id, amount) VALUES (60, CAST('1998-03-02' AS Date), 6, 7, 720);

INSERT into int_orders (order_number, order_date, cust_id, salesperson_id, amount) VALUES (70, CAST('1998-05-06' AS Date), 9, 7, 150);

INSERT into int_orders (order_number, order_date, cust_id, salesperson_id, amount) VALUES (20, CAST('1999-01-30' AS Date), 4, 8, 1800);

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
select a1.order_number ,a1.order_date ,a1.cust_id ,a1.salesperson_id ,a1.amount  from int_orders a1
left join int_orders a2 on a1.salesperson_id=a2.salesperson_id
group by  a1.order_number ,a1.order_date ,a1.cust_id, a1.salesperson_id ,a1.amount
having a1.amount=max(a2.amount)

order_number,order_date,cust_id,salesperson_id,amount
20,1999-01-30,4,8,1800.0
60,1998-03-02,6,7,720.0
40,1998-01-29,7,2,2400.0
30,1995-07-14,9,1,460.0

<h3> solution in pyspark <\h3>

In [0]:
from pyspark.sql.functions import col,max

In [0]:
df_i=spark.sql("select * from int_orders")
df_i.show()

+------------+----------+-------+--------------+------+
|order_number|order_date|cust_id|salesperson_id|amount|
+------------+----------+-------+--------------+------+
|          10|1996-08-02|      4|             2| 540.0|
|          50|1998-02-03|      6|             7| 600.0|
|          60|1998-03-02|      6|             7| 720.0|
|          70|1998-05-06|      9|             7| 150.0|
|          20|1999-01-30|      4|             8|1800.0|
|          30|1995-07-14|      9|             1| 460.0|
|          40|1998-01-29|      7|             2|2400.0|
+------------+----------+-------+--------------+------+

In [0]:
df_i.join(df_i.select("salesperson_id",col("amount").alias("amt")),"salesperson_id","inner").\
    groupBy("order_number","order_date","cust_id","salesperson_id","amount").\
        agg(max("amt").alias("max")).filter(col("max")==col("amount")).show()

+------------+----------+-------+--------------+------+------+
|order_number|order_date|cust_id|salesperson_id|amount|   max|
+------------+----------+-------+--------------+------+------+
|          20|1999-01-30|      4|             8|1800.0|1800.0|
|          60|1998-03-02|      6|             7| 720.0| 720.0|
|          40|1998-01-29|      7|             2|2400.0|2400.0|
|          30|1995-07-14|      9|             1| 460.0| 460.0|
+------------+----------+-------+--------------+------+------+